html {
  font-size: 8px;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.item:nth-child(even) {
  background: rgb(238, 238, 238);
}
.item:nth-child(odd) {
  background: rgb(255, 255, 255);
}

.loader {
  font-family: "FontAwesome";
  width: 10rem;
  height: 10rem;
  margin: 10rem;
  flex: 0 0 0;
  align-self: center;
}

.loader::before {
  font-size: 10rem;
}

.icon {
  font-family: "FontAwesome";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.6rem;
}
.icon::before {
  width: 2.4rem;
  height: 2.4rem;
}

.name {
  font-size: 3.2rem;
  font-weight: lighter;
  display: flex;
  align-content: center;
}
.stats {
  margin-left: 4rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.stats-divider {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.4rem;
  background-color: rgb(0, 0, 0);
}
